@import "responsive.css";

@font-face {
  font-family: "Shadows Into Light", cursive;
  src: local("ShadowsIntoLight"),
    url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
}

body {
  background-color: #fff3d1;
}

.ghost-grid {
  display: grid;
  grid-gap: 20px;
  width: 100%;
  margin: 0 auto;
}

.ghost-grid .card {
  border: 0;
  box-shadow: 5px 4px 11px -9px rgba(0, 0, 0, 0.61);
}

.ghost-grid .card,
.ghost-grid .card .ghost-evidence-item {
  background-color: #f8df9b;
}
.ghost-grid .card.finalGhost,
.ghost-grid .card.finalGhost .ghost-evidence-item {
  background: green;
}

.ghost-grid .card .ghost-name {
  font-weight: bold;
  border-bottom: 2px solid #000;
  font-family: "Shadows Into Light", cursive;
}

.ghost-grid .card .ghost-evidence-item {
  font-size: 80%;
}

.ghost-grid .card .ghost-evidence-item.confirmed span {
  text-decoration: line-through;
}
