.ghost-grid {
  display: grid;
  grid-gap: 20px;
  width: 100%;
  margin: 0 auto;
}
.ghost-grid .ghost-name {
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .ghost-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 600px) {
  .ghost-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 800px) {
  .ghost-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1400px) {
  .ghost-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
